@import "./flex.css";
@import "./utilities.css";
@import "./theme.css";

* { 
  font-family: system-ui;
  box-sizing: border-box;
}

html, body { 
  overflow: hidden; 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
}

/* Font Size Settings */
:root[data-font-size="small"] {
  font-size: 14px;
}

:root[data-font-size="medium"] {
  font-size: 16px;
}

:root[data-font-size="large"] {
  font-size: 18px;
}

/* Default font size */
:root {
  font-size: 16px;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--bg-tertiary);
}
